// Colors Variables
$white: #FDFFFC;
$yellow: #FFBE00;
$dark-blue: #374853;
$blue-smoke: #4b6372;
$grey-smoke: #a8a8a8;
$soft-grey: #cfcfcf;
$light-grey: #E8E8E8;
$red: #f04124;
$soft-red: #f79483;
$light-green: #4FCF91;

html {
  background-color: $white;
  font-family: 'Montserrat', sans-serif;
}

.type {
  &-h1 {
    font-size: 2.5rem;
    font-weight: 400;
  }

  &-h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  &-h3 {
    font-size: 1.75rem;
    font-weight: 400;
  }

  &-h4 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  &-h6 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  &-h7 {
    font-size: 1rem;
    font-weight: 600;
  }

  &-h8 {
    font-size: .75rem;
    font-weight: 700;
  }

  &-yellow {
    color: $yellow;
  }

  &-blue-smoke {
    color: $blue-smoke;
  }

  &-white {
    color: $white;
  }

  &-green {
    color: $light-green;
  }
}

a {
  text-decoration: none;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $dark-blue;
  -webkit-box-shadow: 0 0 0px 1000px $white inset;
}
