// Colors Variables
$white: #FDFFFC;
$grey-smoke: #F5F5F5;
$yellow: #FFBE00;
$blue-smoke: #4b6372;
$red: #fd3937;

html {
  background-color: #FDFFFC;
  font-family: 'Montserrat', sans-serif;
}

.type {
  &-h1 {
    font-size: 2.5rem;
    font-weight: 400;
  }

  &-h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  &-h3 {
    font-size: 1.75rem;
    font-weight: 400;
  }

  &-h4 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  &-h6 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  &-h7 {
    font-size: 1rem;
    font-weight: 600;
  }

  &-h8 {
    font-size: .75rem;
    font-weight: 700;
  }

  &-yellow {
    color: $yellow;
  }

  &-blue-smoke {
    color: $blue-smoke;
  }

}

.button {
  cursor: pointer;
  padding: .6rem;
  border-radius: .3rem;
  font-size: .7rem;
  font-weight: 500;
  letter-spacing: 1px;
  border: transparent;
  color: $white;

  &:hover {
    opacity: .7;
    transition: opacity .3s;
  }

  &-green {
    background-color: $blue-smoke;
  }

  &-red {
    background-color: $red;
  }
}

label {
  font-size: .9rem;
  margin: .2rem 0;
  font-weight: 500;
  color: $blue-smoke;
}

input {
  padding: .3rem .5rem;
  border-radius: 5px;
  border: 1px solid $blue-smoke;
  background-color: $white;
  font-family: 'Montserrat';
  color: $blue-smoke;
  font-size: 1rem;
  font-weight: 400;

  &:focus {
    border-color: #7FDCAF;
    outline-color: #7FDCAF;
  }
}

a {
  text-decoration: none;
}