// Colors Variables
$solid-white: #FEFBF6;
$dark-purple: #7761D8;
$soft-purple: #9C8CE2;
$pink: #FE6D73;

html {
  background-color: #FDFFFC;
  font-family: 'Montserrat', sans-serif;
}

/* Font sizing best practice reference
2.5rem, 2rem, 1.75rem, 1.5rem, 1.25rem */

/* Font weight availables reference
400, 500, 600, 700 */
