// Colors Variables
$grey-smoke: #F5F5F5;
$dark-grey: #555453;

html {
  background-color: #FDFFFC;
  font-family: 'Montserrat', sans-serif;
}

/* Font sizing best practice reference
2.5rem, 2rem, 1.75rem, 1.5rem, 1.25rem */

/* Font weight availables reference
400, 500, 600, 700 */
