// Colors Variables
$grey-smoke: #F5F5F5;
$dark-grey: #555453;
$yellow: #FFBE00;
$light-green: #4FCF91;
$dark-green: #348E39;

html {
  background-color: #FDFFFC;
  font-family: 'Montserrat', sans-serif;
}

.type {
  &-h1 {
    font-size: 2.5rem;
    font-weight: 400;
  }

  &-h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  &-h3 {
    font-size: 1.75rem;
    font-weight: 500;
  }

  &-h4 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &-h6 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  &-h7 {
    font-size: 1rem;
    font-weight: 700;
  }

  &-h8 {
    font-size: .75rem;
    font-weight: 700;
  }

  &-yellow {
    color: $yellow;
  }

  &-light-green {
    color: $light-green;
  }

  &-dark-green {
    color: $dark-green
  }
}

.w-100 {
  width: 100% !important;
}

.w-75 {
  width: 75% !important;
}

.w-50 {
  width: 50% !important;
}

.w-25 {
  width: 25% !important;
}

label {
  margin: .2rem 0;
  font-weight: 500;
  color: $light-green;
}

input {
  &[type="text"] {
    padding: .3rem .5rem;
    border-radius: 5px;
    border: 2px solid $dark-grey;
    background-color: #FDFFFC;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
  }
}