@import 'base';

.card {
  padding: 1rem;
  text-decoration: none;
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background: $grey-smoke;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
  flex-direction: column;

  &__name {
    font-weight: 500;
    color: $dark-grey;
    margin: .7rem;
  }

  &__text-content {
    font-size: 13px;
    font-weight: 500;
  }

  &__author {
    align-self: start;
    margin-top: .5rem;
    font-size: 16px;
    font-weight: 600;
    color: $dark-grey;
  }
}